frontend/package.json
frontend/package-lock.json
frontend/node_modules/

.venv
swayam/__pycache__
swayam/backend/__pycache__
swayam/backend/.env
swayam/blockchain/.env
swayam/blockchain/node_modules
swayam/docker/blockchain/node_modules
test_flow.py