a2wsgi==1.10.10
aioquic==1.3.0
attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.1
ConfigParser==7.2.0
contextlib2==21.6.0
Cython==3.2.4
cython==3.2.4
dl==0.1.0
docutils==0.22.4
eval_type_backport==0.3.1
exceptiongroup==1.3.1
fastapi_cloud_cli==0.16.1
fastapi_new==0.0.6
gunicorn==25.3.0
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.151.12
ipython==8.12.3
ipywidgets==8.1.8
itsdangerous==2.2.0
jnius==1.1.0
keyring==25.7.0
lockfile==0.12.2
numpy==2.4.4
outcome==1.3.0.post0
Pillow==12.2.0
protobuf==7.34.1
pyOpenSSL==26.0.0
pytest==9.0.3
python_socks==2.8.1
pywin32==311
railroad==0.5.0
sniffio==1.3.1
socksio==1.0.0
speedups==2.1.0
Sphinx==9.1.0
thread==2.0.6
toml==0.10.2
tornado==6.5.5
trove_classifiers==2026.1.14.14
truststore==0.10.4
ujson==5.12.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
watchgod==0.8.2
Werkzeug==3.1.8
winloop==0.6.2
wmi==1.5.1
wsproto==1.3.2
xmlrpclib==1.0.1
zstandard==0.25.0
